<div class="container">

{{render "plasmid-diagram" featureViewModels}}

<div class="row">
	<div class="col-md-12">
		<h1>{{name}}</h1>
	</div>
</div>

<div id="filter">
	{{input value=filter class="form-control" placeholder="Filter Features"}}
	<i class="fa fa-filter"></i>
</div>

{{render "table" featureViewModels}}

</div>