<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"></a>
	    </div>
	    <div class="collapse navbar-collapse">
		    <div class="nav navbar-nav">
		      <h3 class="navbar-text">
		      	{{name}}
		      </h3>
		   	</div>
		</div>
	</div>
</nav>
