<div id="plasmid-diagram" class="row">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<g class="background">
			<path></path>
		</g>
		<g class="features">
		</g>
	</svg>
</div>