<div id="feature-table">
	<div id="filter" class="table-control">
		{{input value=filter class="form-control" placeholder="Filter Features"}}
		<i class="fa fa-filter"></i>
	</div>
	
	<div class="feature-table-wrapper">	
		<ul class="feature-table-header">
			<li>
				<span></span>
				<span>Name</span>
				<span>Type</span>
				<span>Start</span>
				<span>End</span>
				<span>Strand</span>
				<span>Size</span>
			</li>
		</ul>
		<ul class="feature-table-content">
			{{#each}}
				{{#if isVisible}}
					{{render "feature-table-row" this}}
				{{/if}}
			{{/each}}
		</ul>
	</div>
</div>